extends layout

block content
	h1= title
	p Welcome to #{title}

	input(type='text',id='inputText', value='12391283912893128')
	input(id='btn',type='button', value='clickme')
	input(id='textBox',type='text')
