extends layout

block content
  h1 Test Without Code

  p Obrigado por se interessar pelo Test Without Code.
  div
    p Estamos em processo de desenvolvimento
    div(class='sendEmailDiv')
      p Coloque seu email para saber novidades do produto
      input(type='text',id='email')
      input(type='button', id='btn',value='enviar')
    div(class='emailSentDiv hide')
      p enviado!
