doctype html
html
  head
    title=TestWithoutCode
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    script(src="/javascripts/ga.js")
    script(src="/javascripts/gaEvents.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.js")

    script(src="/javascripts/index.js")
    meta(name='title', content="Testing without Code")
    meta(name='description', content="Online tool to test your website without code any line")
    meta(name='keywords', content='testing without code,test, testing,test without code,test for webdesigners,site test online,online testing')
  body
    block content